#maincontent {
    margin: 0 10px;
}

#restaurants-list li {
    width: 100%;
    padding: 0;
    margin: 0;
}
#restaurants-list li a {
    font-size: 18pt;
}
nav h1 a {
    font-size: 25pt;
    font-weight: 200;
}
nav h1 {
    margin: auto;
    padding-top: 15px;
}
.filter-options {
    height: 110px;
}
.filter-options h2 {
    padding-top: 7px;
    font-size: 2.5rem;
}
.filter-options select {
    font-size: 22pt;
    font-weight: 900;
    height: 40px;
    width: 216px;
}
#restaurants-list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    column-fill: balance;
}

.inside #footer {
    bottom: 0;
    position: fixed;


    /*width: cacl(50% - 50px);*/
    width: 45%;
}

@media(min-width: 800px) {
ul#restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
    justify-self: start;
    padding-left: 0px;
  }
  #reviews-list li {

        font-size: 25px;
        text-align: left;
        width: 80%;
    }
}


@media(max-width: 768px) {
    td {
        text-align: left;
        font-size: 25px;
    }
   #breadcrumb {
       width: 100%;
       padding: 10px 5px 15px;
       font-size: 1.5rem;
   }
   #breadcumb li{
    display: inline;
}
nav h1{
    background-color: black;
}
ul, li{
    display: inline;
    font-size: 25px;
}
ul#restaurants-list {
    padding-left: 0px;
}
    #restaurant-cuisine {
        font-size: 1.8rem;
    }

    #restaurant-address {
        margin: 10px 0px;
        font-size: 1.6rem;
    }

    .inside #map-container {
        position: relative;
        height: 400px;
        /* right: 0; */
        top: 125px;
        width: 100%;
    }

    #restaurant-container, #reviews-container {
        width: 100%;
        padding: 0px;
        margin-top: 10px 0 10px;
        position: relative;
        top: 125px;
        /* display: grid; */
        /* align-items: center; */
    }

    body {
        font-size: 2.4rem;
    }
    #restaurants-list li {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #restaurants-list li a {
        font-size: 18pt;
    }
    #restaurants-list li h1 {
        font-size: 18pt;
        font-weight: 800;
    }

    #restaurants-list p {
        font-size: 15pt;
        font-weight: 800;
    }
    #reviews-list li p {

        font-size: 25px;
        text-align: left;
    }
    nav h1 a {
        font-size: 25pt;
        font-weight: 200;
    }
    nav h1 {
        margin: auto;
        padding-top: 0px;
    }
    .filter-options {
        height: 110px;
    }
    .filter-options h2 {
        padding-top: 7px;
        font-size: 2.5rem;
    }
    .filter-options select {
        font-size: 22pt;
        font-weight: 900;
        height: 40px;
        width: 216px;
    }
    #restaurants-list {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        column-fill: balance;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px 10px;
    }

    .inside #footer {
        position: relative;
        width: 100%;
        top: 125px;
        padding: 25px 0 25px;

    }

}

@media only screen and (max-width: 414px) {

    body {
        font-size: 12pt;
    }
    ul, li{
        display: inline;
    }

    .inside #map-container {
        position: relative;
        height: 400px;
        /* right: 0; */
        top: 125px;
        width: 100%;
    }

    #restaurant-container, #reviews-container {
        text-align: center;
        display: grid;
        margin-top: 120px;
        padding: 0px 0px 80px;

    }
    #restaurants-list {
        padding-left: 0px;
    }
    #restaurants-list li {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #restaurants-list li a {
        font-size: 18pt;
    }
    nav h1 a {
        font-size: 8pt;
        font-weight: 200;
        text-align: center;
    }
    nav h1 {
        margin: auto;
        padding-top: 15px;
    }
    .filter-options {
        height: 167px;
    }
    .filter-options h2 {
        padding-top: 7px;
        font-size: 2.5rem;
    }
    .filter-options select {
        font-size: 22pt;
        font-weight: 900;
        width: 216px;
        height: 40px;
    }
    #restaurants-list {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        column-fill: balance;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 10px;
    }
    td {
        font-size: 10pt;
    }
    #reviews-list li p {
        text-align: left;
        font-size: 12px;

    }
    #restaurant-address {
        font-size: 11pt;
    }
    #breadcrumb {
        width: 100%;
        padding: 10px 5px 15px;

    }
    #breadcumb li{
        display: inline;
    }
    nav h1{
        background-color: black;
    }
    .inside #footer {
        position: relative;
        width: 100%;
        top: 125px;
        padding: 25px 0 25px;
    }
}
